body{
    warning {
        background: pink;
        text-align: center;
        font-family: arial;

}

.titulo {

    text-align: center;
    font-family: ,Arial; 
    font-size: 36px;


}

.paragrafo1 {

    text-align: left;
    font-family: Sans-Serif;
    font-size: 26px;



}

.form {


    text-align: center;



}